h1,
h2,
h3 {
  font-family: 'MTD Valky Bold', 'Raleway', sans-serif;
}

h2 {
  font-size: 2rem;
}

html {
  background-color: #000;
}

body,
button {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: #fff;
}

* {
  box-sizing: border-box;
  // font-size: 1.5rem;
}

.container {
  padding-top: $navbar-height;
}

.font {
  &-msr {
    font-family: 'Montserrat', sans-serif;
  }

  &-mtd {
    font-family: 'MTD Valky Bold', 'Raleway', sans-serif;
  }

  &-rlw {
    font-family: 'Raleway', sans-serif;
  }
}
