$primary-dark-red-100: #a52325;
$primary-dark-red-200: #2c0101;
$primary-dark-red-300: #5e0101;
$primary-dark-red-400: #7c0202;
$primary-dark-red-500: #cf1f21;
$primary-dark-red-600: #380000;
$primary-dark-red-700: #c2000e;
$primary-dark-red-800: #ff0000;
$primary-dark-red-900: #B50003;


$primary-gray-100: #b5b5b5;

$navbar-height: 8vh;
$sidebar-height: calc(100vh - $navbar-height);
$primary-nav-button: #e70d38;
