*,
li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'MTD Valky Bold', 'Raleway', sans-serif;
}

html {
  font-size: 16px;
}

.fs-30px {
  font-size: 30px;
}

// h1 {
//   font-size: 60px;
// }

// h2 {
//   font-size: px;
// }

// h3 {
//   font-size: 24px;
// }

body {
  background-color: #000;
}
