h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'MTD Valky Bold', 'Raleway', sans-serif;
}

html {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  background-color: #000;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.app {
  &-container {
    padding-top: $navbar-height;
    overflow-x: hidden;
  }
}
