@font-face {
  font-family: "MTD Valky Bold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(~assets/fonts/MTDValkyBold.otf);
}

@font-face {
  font-family: "MTD Valky Light";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(~assets/fonts/MTDValkyLight.otf);
}

@font-face {
  font-family: "MTD Valky Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(~assets/fonts/MTDValkyRegular.otf);
}

@font-face {
  font-family: "MTD Valky Semiboldd";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(~assets/fonts/MTDValkySemibild.otf);
}
